mixin city()
    select.city(name="city")
        option.city__option(selected value="msk") Москва
        option.city__option( value="podolsk") Подольск
        option.city__option( value="domodedovo") Домодедово
        option.city__option( value="vidnoe") Видное
    