mixin event(img,title)
    .event
        
        .event__image.lazy(data-src= img)
            .event__title= title
            .event__subtitle Подробнее
        .event__content
            .event__list
                ul
                    li Приход Деда Мороза домой или случайная встреча на улице
                    li Стишок или песня от вашего ребенка
                    li Дед Мороз обязательно поинтересуется, как ребенок себя вел в этом году
                    li Подарит подарок
                    li Даст наставления на следующий год
                    li Загадывание желаний на следующий год
                    li Вы сможете сделать пару  фотографий
            .event__price Стоимость от 2 500 руб.
            +button('Заказать праздник','button_gold')