mixin messenger()
    .messenger
        a.messenger__item(href='https://api.whatsapp.com/send?phone=79032114999')
        //- a.messenger__item.lazy(data-src="/assets/img/viber.svg" href='viber://add?number=79032114999') Viber