mixin gallery()
        .gallery
            a(href="/assets/img/gallery/gallery_2.jpg" data-fancybox="image").gallery__item
                img.gallery__image.lazy(data-src="/assets/img/gallery/gallery_2.jpg")
            a(href="/assets/img/gallery/gallery_1.jpg" data-fancybox="image").gallery__item
                img.gallery__image.lazy(data-src="/assets/img/gallery/gallery_1.jpg")
    
            a(href="/assets/img/gallery/gallery_3.jpg" data-fancybox="image").gallery__item
                img.gallery__image.lazy(data-src="/assets/img/gallery/gallery_3.jpg")
            a(href="/assets/img/gallery/gallery_4.jpg" data-fancybox="image").gallery__item
                img.gallery__image.lazy(data-src="/assets/img/gallery/gallery_4.jpg")
            a(href="/assets/img/gallery/gallery_5.jpg" data-fancybox="image").gallery__item
                img.gallery__image.lazy(data-src="/assets/img/gallery/gallery_5.jpg")
            a(href="/assets/img/gallery/gallery_6.jpg" data-fancybox="image").gallery__item
                img.gallery__image.lazy(data-src="/assets/img/gallery/gallery_6.jpg")
            a(href="/assets/img/gallery/gallery_6.jpg" data-fancybox="image").gallery__item
                img.gallery__image.lazy(data-src="/assets/img/gallery/gallery_6.jpg")
            a(href="/assets/img/gallery/gallery_6.jpg" data-fancybox="image").gallery__item
                img.gallery__image.lazy(data-src="/assets/img/gallery/gallery_6.jpg")