mixin social()
    .social
        a.social__item.social__item_vk.lazy(data-src="/assets/img/vk.png" href="")
        a.social__item.social__item_instagram.lazy(data-src="/assets/img/instagram.png" href="")
        a.social__item.social__item_facebook.lazy(data-src="/assets/img/facebook.png" href="")