mixin news()
    .news
        .news__image
            img.lazy(data-src="/assets/img/slide.jpg", alt="")
            .news__info
                .news__date 22.05.2020
                .news__title Есть варианты различной площади. Общая площадь офисных помещений - 6500 кв.м

            +button('Подробнее','button_gold')
        .news__caption Все общественные помещения отремонтированы и поддерживаются в отличном состоянии. Все инженерные коммуникации качественно отремонтированы и функционируют бесперебойно. Высокая степень безопасности клиентов офисно