mixin table_1()
    .table.lazy(data-src="/assets/img/table.jpg")
        table
            colgroup
                col
                col
                col
                col
                col
            tbody
                tr
                    td Число
                    td(colspan='2') Вызов Деда Мороза (БЕЗ Снегурочки)
                    td(colspan='2') Вызов Деда Мороза со Снегурочкой
                tr
                    td
                    td 15 минут
                    td 30 минут
                    td 30 минут
                    td 1 час
        
                tr
                    td До 13 декабря
                    td Не работаем
                    td Не работаем
                    td Не работаем
                    td Не работаем
                tr
                    td С 14 по 15 декабря
                    td 1 190
                    td 1 190
                    td 1 190
                    td 1 190
                tr
                    td С 16 по 19 декабря
                    td 1 800
                    td 1 800
                    td 1 800
                    td 1 800
                tr
                    td С 20 по 26 декабря
                    td 2 200
                    td 2 200
                    td 2 200
                    td 2 200
                tr
                    td С 27 по 30 декабря
                    td 2 400
                    td 2 400
                    td 2 400
                    td 2 400
                tr
                    td 31 декабря до 12:00
                    td(style="background: #f9ecb7;") <s>4 600</s> <span>3 350</span>
                    td 2 700
                    td 2 700
                    td 2 700
                tr
                    td 31 декабря 12:00 - 16:00
                    td 3 000
                    td 3 000
                    td 3 000
                    td 3 000
                tr
                    td 31 декабря 16:00 - 19:00
                    td 3 600
                    td 3 600
                    td 3 600
                    td 3 600
                tr
                    td 31 декабря 19:00 - 21:00
                    td 4 200
                    td 4 200
                    td 4 200
                    td 4 200
                tr
                    td 31 декабря 21:00 - 23:00
                    td 4 400
                    td 4 400
                    td 4 400
                    td 4 400
                tr
                    td 31 декабря 23:00 - 01:00
                    td 4 700
                    td 4 700
                    td 4 700
                    td 4 700
                tr
                    td 1 января после 01:00
                    td 4 400
                    td 4 400
                    td 4 400
                    td 4 400
                tr
                    td 1 января с 10:00
                    td 2 400
                    td 2 400
                    td 2 400
                    td 2 400
                tr
                    td 02 - 09 января
                    td 2 300
                    td 2 300
                    td 2 300
                    td 2 300
                tr
                    td с 10 января
                    td Не работаем
                    td Не работаем
                    td Не работаем
                    td Не работаем
