mixin table_2()
    .table-order
        table
            tr
                td до 31 декабря
                td <s>4 600 руб.</s>
                td <span>3 350 руб.</span>
            tr
                td 31 декабря
                td <s>5 650 руб.</s>
                td <span>4 300 руб.</span>