mixin slider_1()
        .slider.slider_best
            img.slider__item.lazy(data-src="/assets/img/slide.jpg", alt="")
            img.slider__item.lazy(data-src="/assets/img/slide.jpg", alt="")
            img.slider__item.lazy(data-src="/assets/img/slide.jpg", alt="")
            img.slider__item.lazy(data-src="/assets/img/slide.jpg", alt="")
        .slider__arrows.slider__arrows_best