mixin section_6()
    .section.section_best.lazy(data-src="/assets/img/bg_snow_2.jpg")
        .section__inner.section__inner_best
            +title('Используем все самое лучшее для создания сказки')
            .section__content.section__content_best
                +resource_preview('/assets/img/preview_1.jpg','Качественные костюмы, валенки, сапоги')
                +resource_preview('/assets/img/preview_2.jpg','Густая борода, косы и профессиональный грим')
                +resource_preview('/assets/img/preview_3.jpg','Красивый и безопасный реквизит')
                +resource_preview('/assets/img/preview_4.jpg','Огромный мешок для подарков')
            .section__content.section__content_slider
                +slider_1()