mixin section_7()
    .section.section_other.lazy(data-src="/assets/img/bg_events.jpg")
        .section__inner.section__inner_events
            +title('Программы выступлений','title_events')
            .section__subtitle.section__subtitle_events Программа Деда Мороза на любой возраст и кошелек! В любую программу можно внести изменения с учетом ваших пожеланий. <span>Смотрите, сравнивайте, выбирайте!</span>
            .section__content.section__content_events
                +event('/assets/img/clock_1.png','Программа на 15 мин')
                +event('/assets/img/clock_2.png','Программа на 30 мин')
                +event('/assets/img/clock_3.png','Программа на 1 час в школу или детский сад')