mixin section_2()
    section.section.section_order.lazy(data-src="/assets/img/bg_order.jpg")
        .section__inner.section__inner_order
            +title('Оставьте заявку','title_order')
            .section__content.section__content_order
                .section__subtitle и мы подберем программу праздника с опытными актерами в красивых костюмах под ваш бюджет и пожелания
                .section__offer со скидкой до 30%!
                +table_2()
                +order_1('#workemail_0')
                .section__warning ВНИМАНИЕ! Мы НЕ берём предоплату. Оплата производится после проведения выступления. Вызов Деда Мороза по Москве осуществляется бесплатно. Стоимость выезда за МКАД (до 10 км) - 70 руб/км.