mixin section_11()
    .section.section_order.section_order_bottom.lazy(data-src="/assets/img/bg_order.jpg")
        .section__inner.section__inner_order
            +title('Заказать праздник','title_order')
            .section__content.section__content_order
                .section__subtitle Оставьте ваш номер и мы перезвоним Вам
                
                +order_1('#workemail_1','order_bottom')