mixin section_1()
    section.section.section_video.lazy
        .section__inner
            +title('Дед Мороз на дом в Москве')
            .section__content.section__content_double
                .section__half
                    p Новый год 2020 – это долгожданный праздник, как для детей, так и взрослых, который, обязательно сопровождается ожиданием чуда и подарков. Главным гостем в новогоднюю ночь является Дедушка Мороз и его помощница Снегурочка с мешком подарков и веселым настроением.
                    p Настоящее волшебство происходит каждую ночь 31 декабря и эту радость и восторг малыш сохраняет на весь следующий год.
                    p Заказать Деда Мороза на дом Вы можете от 1000 рублей, это недорого в сравнении с другими праздничными агентствами Москвы
                .section__half
                    +video('OMguFafuqrg')
            +title('Выберите удобную для вас дату')
            .section__content
                +table_1()