mixin section_5()
    .section.section_personal.lazy(data-src="/assets/img/bg_personal.jpg")
        .section__inner.section__inner_personal
            +title('У нас настоящие Деды Морозы и Снегурочки с многолетним опытом','title_order')
            .section__content.section__content_personal
                +resume()
                +resume()
            +button('Посмотреть всех актеров','button_gold')