mixin section_8()
    .section.section_personal.lazy(data-src="/assets/img/bg_personal.jpg")
        .section__inner.section__inner_personal
            +title('Другие наши программы','title_order')
            .section__content.section__content_personal
                +resource_preview('/assets/img/preview_1.jpg','Дед Мороз на корпоратив','resource-preview_other')
                +resource_preview('/assets/img/preview_2.jpg','Дед Мороз на корпоратив','resource-preview_other')
                +resource_preview('/assets/img/preview_3.jpg','Дед Мороз на корпоратив','resource-preview_other')
                +resource_preview('/assets/img/preview_4.jpg','Дед Мороз на корпоратив','resource-preview_other')
                +resource_preview('/assets/img/preview_1.jpg','Дед Мороз на корпоратив','resource-preview_other')
          
            +button('Все наши программы','button_gold')