mixin section_10()
    .section.section_gallery.lazy(data-src="/assets/img/bg_events.jpg")
        .section__inner.section__inner_gallery
            +title('90% семей заказывают нас на следующий год')
            

            +gallery()
                
            +button('Все фото','button_gold')