mixin resume()
    .resume
        .resume__image.lazy(data-src="/assets/img/resume.jpg")
        .resume__content
            .resume__name Николай
            .resume__profile
                table
                    tr
                        td Возраст:
                        td 36 лет
                    tr
                        td Рост:
                        td 188 см
                    tr
                        td Образование:
                        td Российский Государственный Социальный Университет
                    tr
                        td Опыт работы:
                        td Ведущий мероприятий, Дед Мороз на дом, утренник более 8 лет