mixin nav()
    section.nav__wrapper.lazy
        ul.nav
            li.nav__item.nav__item_group
                a(href="/").nav__link.nav__link_group Вызвать Деда Мороза
                ul.nav.nav_level2
                    li.nav__item
                        a(href="/").nav__link.lazy(data-src="/assets/img/icon_1.png") На дом
                    li.nav__item
                        a(href="/").nav__link.lazy(data-src="/assets/img/icon_2.png") В детский сад
                    li.nav__item
                        a(href="/").nav__link.lazy(data-src="/assets/img/icon_3.png") В школу
                    li.nav__item
                        a(href="/").nav__link.lazy(data-src="/assets/img/icon_4.png") В офис
                    li.nav__item
                        a(href="/").nav__link.lazy(data-src="/assets/img/icon_5.png") На корпоратив
                    li.nav__item
                        a(href="/").nav__link.lazy(data-src="/assets/img/icon_6.png") Экспресс-поздравление
                    li.nav__item
                        a(href="/").nav__link.lazy(data-src="/assets/img/icon_7.png") С животными
                
            li.nav__item
                a(href="/").nav__link Программы
            li.nav__item
                a(href="/").nav__link Фото
            li.nav__item
                a(href="/").nav__link Отзывы
            li.nav__item
                a(href="/").nav__link Цены
            li.nav__item
                a(href="/").nav__link Контакты